{% extends 'ecom/main.html' %}
{% load static %}
{% block content %}
<div class="row container">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/cat.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn">Add to Cart</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail thumbnail-container" src="{% static 'images/cat.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn">Add to Cart</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/cat.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn">Add to Cart</button>
        </div>
    </div>
</div>
{% endblock content %}